@import 'variables';

.title {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 24px;
    font-weight: 300;
    line-height: calc(30/24*100%);
    text-align: center;

    @media(min-width: $tablet-width) {
        font-size: 40px;
        line-height: calc(48/40*100%);
    }

    @media(min-width: $desktop-width) {
        font-size: 50px;
    }
    @media(min-width: $tablet-width) {
        line-height: calc(60/50*100%);
        padding-left: 0;
        padding-right: 0;
    }
}